{% extends 'base.html.twig' %}

{% block title %}Key index{% endblock %}

{% block body %}
    <h1>Key index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for key in keys %}
            <tr>
                <td>{{ key.id }}</td>
                <td>
                    <a href="{{ path('key_show', {'id': key.id}) }}">show</a>
                    <a href="{{ path('key_edit', {'id': key.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('key_new') }}">Create new</a>
{% endblock %}
