{% extends 'base.html.twig' %}

{% block title %}New Key{% endblock %}

{% block body %}
    <h1>Create new Key</h1>

    {{ include('key/_form.html.twig') }}

    <a href="{{ path('key_index') }}">back to list</a>
{% endblock %}
