{% extends 'base.html.twig' %}

{% block title %}Key{% endblock %}

{% block body %}
    <h1>Key</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ key.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('key_index') }}">back to list</a>

    <a href="{{ path('key_edit', {'id': key.id}) }}">edit</a>

    {{ include('key/_delete_form.html.twig') }}
{% endblock %}
